<div [style.background-image]="'url(/assets/images/booklogin10.PNG'" style="overflow:hidden;height:100%;width:100%;background-size:cover;">
<div class="panel panel-primary" style="height: 90%;width:30%; margin-top:2.4%;margin-left: 12%; text-align: center;background-color:none;">
    
    <div class="panel-body">
        <div style="height:50px;"></div>
        <h1 style="font-family: 'Fascinate Inline', cursive;font-size:4em;color:rgb(9, 55, 102) ;">
        <mat-icon style="vertical-align:auto;height: 45px;width: 45px;font-size: 45px;">
          <span class="material-symbols-outlined">
            import_contacts
            </span>
           </mat-icon> 
          <b>&nbsp;KITAB</b></h1>

          <form [formGroup]="Login"   (ngSubmit)="FormSubmit()">
            <div class="form-group">
        
                <div style="flex-direction: column; flex: 130px;height:50px;background-color: rgb(255, 255, 255);"></div>
                  <!-- Username -->
                 <div style="color: rgb(6, 83, 6);font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;text-align: left;margin-left:17.5%;">
                    <p>  <mat-icon style="vertical-align:middle;">
                        <span class="material-icons-outlined">
                            account_circle
                            </span>
                           
                    </mat-icon>
                   <b>&nbsp;Username:</b></p>
                 </div>
                
                 
                  <div class="controls">
                    <input  style= "width: 65%;align-content: center;margin-left: 17.5%;border-color: rgb(114, 161, 114);" type="text" id="Loginid" placeholder="username" class="form-control" formControlName="Userid">
                  </div>
    
                  
                  <div style="flex-direction: column; flex: 130px;height:35px;background-color: rgb(255, 255, 255);"></div>
    
                   <!-- password -->
    
                   <div style="color: rgb(6, 83, 6);font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;text-align: left;margin-left:17.5%;">
                    <p>  <mat-icon style="vertical-align:middle;">
                        <span class="material-icons">
                            lock
                            </span>
                    </mat-icon>
                   <b>&nbsp;Password:</b></p>
                 </div>
                   
                   <div class="controls">
                     <input style= "width: 65%;align-content: center; margin-left: 17.5%;border-color: rgb(114, 161, 114);" type="password" id="key" placeholder="password" class="form-control" formControlName="key">
                   </div>
                   <br>
                   <span style="color:red;" *ngIf="Error"><p style="text-align: center;">{{ErrorMessage}}</p> </span>
                   <br>
                  
                   <button mat-stroked-button color="primary" style="border-color: blue;" type="Submit">Login</button>
                   <span class="spacer"></span>
                   <button  mat-stroked-button color="warn" style="border-color:rgba(255, 0, 0, 0.747);margin-left: 4%;" type="reset">Clear</button>
                  
                   <div style="flex-direction: column; flex: 130px;height:35px;background-color: rgb(255, 255, 255);"></div>
              
    
                </div>
            
              
        
           </form>





           
    </div>
</div>
</div>
